<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head'); %>
</head>
<body>

<h1>Web de items</h1>
<%- include('partials/navigation') %>

<body>
<h1> INSERT ITEM</h1>
<form action="/items" method="post">

    <label for="input_name">Item name</label>
    <input type="text" name="name" id="input_name">

    <label for="job">Job</label>
    <input type="text" name="job" id="job">

    <input type="submit" value="insert">
</form>
</body>
</html>