<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<h1>Web de items</h1>
<ul>
    <li><a href="/items">Get all items</a> <br></li>
    <li><a href="/items/insert">Insert items</a></li>
</ul>


</body>
</html>
