<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
</head>
<body>
<h1> INSERT ITEM</h1>
<form action="/items" method="post">

    <label for="input_id"> id</label><br>
    <input type="text" name="id" id="input_id"><br>
    <label for="input_name">name</label>
    <input type="text" name="name" id="input_name">
    <input type="submit" >
</form>
</body>
</html>