<!DOCTYPE html>

<head>

    <%- include('partials/head'); %>
</head>
<body>

<h1>Web de items</h1>
<%- include('partials/navigation') %>

<footer>
    <%- include('partials/footer'); %>
</footer>
<%- include('partials/extra_scripts'); %>
</body>
</html>
